<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="static/basic.css" rel="stylesheet">
</head>

<body>
    <h3>
         New York City Search and Frisk Analysis
    </h3>

    <form action="/" method=post>
      <dl>
        <input type=text size=15 name=sex placeholder="Sex">
        <input type=text size=15 name=race placeholder="Race">
        <input type=number name=age placeholder="Age">
        <input type=submit value=Find>
      </dl>
    </form>

    <hr/>
    <table>
         <thead>
            <tr>
               <th>sex</th>
               <th>race</th>
               <th>age</th>
               <th>actual_searched</th>
               <th>predicted_searched</th>
            </tr>
         </thead>

         <tbody>
            {% for result in results %}
               <tr>
                   <td>{{ result.sex }}</td>
                   <td>{{ result.race }}</td>
                   <td>{{ result.age }}</td>
                   <td>{{ result.actual_searched }}</td>
                   <td>{{ result.predicted_searched }}</td>
               </tr>
            {% endfor %}
         </tbody>
      </table>

</body>
</html>